<nav class="navbar navbar-light bg-light p-2">
    <h1 class="navbar-brand ">{{title}}</h1>

    <ul *ngIf="user$ | async" class="navbar-nav ml-auto d-flex flex-row">
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a routerLink="/heroes" class="nav-item nav-link">Heroes</a>
        </li>
        <li class="nav-item">
            <a routerLink="/create" class="nav-item nav-link">Create</a>
        </li>
        <li class="nav-item">
            <a routerLink="/profile" class="nav-item nav-link">Profile</a>
        </li>
        <li class="nav-item">
            <a (click)="logout()" class="nav-item nav-link cursor-pointer">Log out</a>
        </li>
    </ul>
    <ul *ngIf="!(user$ | async)" class="navbar-nav ml-auto d-flex flex-row">
        <li class="nav-item">
            <a routerLink="/login" class="nav-item nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a routerLink="/register" class="nav-item nav-link">Register</a>
        </li>
    </ul>
</nav>
<!-- <div class="d-flex"> -->
    <router-outlet></router-outlet>
    <app-messages ></app-messages>
<!-- </div> -->