<h2 class="mt-5">My Heroes</h2>
<div class="w-50 mx-auto">
  <input #searchBox type="text" id="typehead-http" class="w-100 form-control " placeholder="Type name in here"
  (input)="search(searchBox.value)" 
  />
  <table class="table table-striped w-100">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heros$ | async">
        <td [width]="200"><a routerLink="/detail/{{hero._id}}">{{hero._id}}</a></td>
        <td>{{hero.name | titlecase}}</td>
        <td>{{hero.age}}</td>
        <td> <button type="button" class="btn btn-danger" title="delete hero" (click)="delete(hero)">x</button></td>
      </tr>
    </tbody>
  </table>
</div>